{% extends "master.html" %}
<!DOCTYPE html>
<html>
<body>
{% block content%}
<div class="container"style="margin-top: 100px;">
<h1 class="display-3 text-center m-4"style="margin-top: 100px;">Componentes</h1>
<div class="row justify-content-md-center ">
{% for producto in componentes %}
    <div class="card mb-3 m-2" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="{{producto.foto.url}}" class="card-img rounded-start m-2" alt="..." width="200" height="200">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-center mt-3">{{ producto.nombre_producto }} <b>${{ producto.precio }}</b></h5>
                <div class="text-center mt-5">
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'agregar_al_carrito' producto.id %}">
                            {% csrf_token %}
                            <div class="mt-2">
                                <button type="submit">Añadir al carrito</button>
                            </div>
                            </form>
                        {% endif %}
                        </div>
            </div>
        </div>
        </div>
        </div>
{%endfor%}
</div>
</div>
{% endblock %}
</body>
</html>