{% extends "master.html" %}
<!DOCTYPE html>
<html>
<body>
{% block content%}
<h1>Juegos</h1>
{% for producto in juegos %}
    <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
        <img src="{{producto.foto.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ producto.nombre_producto }} ${{ producto.precio }}</h5>
            <button type="submit">
              Añadir al carrito
            </button>
        </div>
        </div>
    </div>
    </div>
{%endfor%}
{% endblock %}
</body>
</html>